@mixin raiseContent() {
	position: absolute;
	z-index: 4;
	left: 0;
	right: 0;
}
@mixin raiseHeader() {
	position: absolute;
	z-index: 4;
	left: 0;
	right: 0;
}

@mixin mediumText {
	font-size: $fs24;
	font-weight: $fw700;
	line-height: $lh29px;
}
