// font
$fontInterRegular: 'Inter', sans-serif;

$fw400: 400;
$fw700: 700;

// color

$backgroundColor: rgb(210, 210, 210);
$accentColor: rgb(0, 102, 255);

$textColor: rgb(21, 21, 21);
$textWhiteColor: rgb(255, 255, 255);

// font size

$fs16: 16px;
$fs24: 24px;
$fs36: 36px;
$fs48: 48px;
$fs96: 96px;

// line height

$lh130: 130%;

$lh19px: 19px;
$lh29px: 29px;
$lh44px: 44px;
$lh58px: 58px;
$lh116px: 116px;


// gap

$g20: 20px; 
$g30: 30px; 
$g35: 35px; 
$g40: 40px; 
$g80: 80px; 
$g200: 200px; 

// margin bottom

$mb20: 20px;
$mb30: 30px;
$mb45: 45px;
$mb50: 50px;
$mb60: 60px;
$mb100: 100px;
$mb150: 150px;

//padding bottom 
$pb45: 45px;